<div class="deposit__history">
    <h2 class="deposit__history-title">История пополнений</h2>
    <div class="deposit__history__cards">
        <div class="deposit__history__cards__headers">
            <span class="deposit__history__cards__headers-sum">Сумма</span>
            <span class="deposit__history__cards__headers-way">Способ</span>
            <span class="deposit__history__cards__headers-date">Дата и время</span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
        <div class="deposit__history__cards__item">
            <span class="deposit__history__cards__item-sum">500 000 000 000 <span>сум</span></span>
            <span class="deposit__history__cards__item-way">Перечисление</span>
            <span class="deposit__history__cards__item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></span>
        </div>
    </div>
</div>