<aside class="sidebar">
    <div class="sidebar__controls">
        <button class="sidebar__controls-btn">O'zb</button>
        <button class="sidebar__controls-btn">O'zb</button>
        <button class="sidebar__controls-btn">
            <img src="../../../../../assets/images/Settings.svg" alt="">
        </button>
        <button class="sidebar__controls-btn">
            <img src="../../../../../assets/images/Bell.svg" alt="">
        </button>
        <button class="sidebar__controls-btn">
            <img src="../../../../../assets/images/Settings.svg" alt="">
        </button>
    </div>
</aside>