<aside class="sidebar">
    <div class="sidebar__controls">
        <button class="sidebar__controls-btn">O'zb</button>
        <button class="sidebar__controls-btn" (click)="modeToggle()">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="!isDarkMode" />
                <span class="slider">
                    <span class="slider-img"></span>
                </span>
            </label>
            <!-- switch -->
        </button>
        <button class="sidebar__controls-btn">
            <img src="../../../../../assets/images/Settings.svg" alt="">
        </button>
        <button class="sidebar__controls-btn">
            <img src="../../../../../assets/images/Bell.svg" alt="">
        </button>
        <button class="sidebar__controls-btn sidebar__controls-btn-exit">
            <div>
                <img src="../../../../../assets/images/exit/exit1.svg" alt="">
                <img src="../../../../../assets/images/exit/exit2.svg" alt="">
            </div>
        </button>
        <button class="sidebar__controls-btn sidebar__controls-btn-close" (click)="closeModal()" *ngIf="isWindowSmall">
            <img src="../../../../../assets/images/decline.svg" alt="">
        </button>
    </div>
    <profile-info></profile-info>
    <div class="sidebar__support">
        <h2 class="sidebar__support-title">Тех. поддержка</h2>
        <div class="sidebar__support__item">
            <div class="sidebar__support__item-img">
                <img src="../../../../../assets/images/telegram.svg" alt="">
            </div>
            <div class="sidebar__support__item-spans">
                <span>Онлайн консультант</span>
                <span>Телеграм бот</span>
            </div>
        </div>
        <div class="sidebar__support__item">
            <div class="sidebar__support__item-img">
                <img src="../../../../../assets/images/CallChat.svg" alt="">
            </div>
            <div class="sidebar__support__item-spans">
                <span>Телефон поддержки</span>
                <span>+998 90 185-00-55</span>
            </div>
        </div>
    </div>
    <div class="sidebar__socials">
        <h2 class="sidebar__socials-title">Мы в соц. сетях</h2>
        <ul class="sidebar__socials__list">
            <li>
                <a href="" class="sidebar__socials__list-item">
                    <img src="../../../../../assets/images/telegram.svg" alt="">
                </a>
            </li>
            <li>
                <a href="" class="sidebar__socials__list-item">
                    <img src="../../../../../assets/images/Facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="" class="sidebar__socials__list-item">
                    <img src="../../../../../assets/images/Instagram.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</aside>