.sidebar {
    padding: 17px 0 17px 20px;
    position: fixed;
    top: 82px;
    width: max-content;
    width: 331px;

    &__controls {
        display: flex;
        gap: 24px;
        margin-bottom: 34px;
        align-items: center;
        position: relative;

        &-btn {
            cursor: pointer;
            background: none;
            border: none;
            color: var(--color-text-accent);

            & button {
                display: flex;
                align-items: center;
            }

            &-exit {
                display: flex;
                align-items: flex-start;
                position: relative;

                & img:last-child {
                    transform: translate(-50%, -50%);
                }
            }

            &-close {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &__support {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 18px;
        // position: relative;

        &-title {
            font-family: 'Inter-SemiBold';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: var(--color-text);
        }


        &__item {
            display: flex;
            gap: 16px;
            align-items: center;

            &-img {
                width: 32px;
                height: 32px;
                background: var(--color-bg-accent);
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-spans {
                display: flex;
                flex-direction: column;
                gap: 4px;

                & span {
                    font-family: 'Inter-Medium';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: var(--color-text-accent);

                    &:last-child {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: var(--color-text);
                    }
                }
            }

            &:last-child {

                &-img:last-child {
                    width: 500px;
                    height: 500px;
                    background: var(--color-text-accent);
                }

            }
        }

        &::before {
            content: "";
            height: 2px;
            width: 311px;
            background: #E0E4E8;
            margin: 18px 0;
        }

    }

    &__socials {

        &-title {
            font-family: 'Inter-SemiBold';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: var(--color-text);
            margin-bottom: 16px;
        }

        &__list {
            display: flex;
            gap: 8px;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 23px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-main);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #A2A8B1;
    border-radius: 34px;

    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 1.7px;
        background-color: #A2A8B1;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        z-index: 10;
    }

    &-img {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        transition: .4s;
        background-image: url('../../../../../assets/images/moon.svg');
    }
}

input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
}

input:checked + .slider .slider-img {
    right: 31px;
    top: 45%;
    background-image: url('../../../../../assets/images/sun.svg');

}