<div class="deposit__inner">
    <h2 class="deposit__inner-title">Пополнение депозита</h2>
    <p class="deposit__inner-desc">
        Для пополнения перейдите в банк-клиент и используйте эти реквизиты для пополнения депозита
    </p>
    <div class="deposit__inner__cards">
        <div class="deposit__inner__cards__item">
            <p>Код банка получателя (МФО)</p>
            <span>01010101</span>
            <button>
                <img src="../../../../assets/images/deposit-info.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__cards__item">
            <p>Счет получателя</p>
            <span>4324 8987 4325 1234 0973</span>
            <button>
                <img src="../../../../assets/images/deposit-info.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__cards__item">
            <p>Наименование получателя</p>
            <span>01010101</span>
            <button>
                <img src="../../../../assets/images/deposit-info.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__cards__item">
            <p>ИНН получателя</p>
            <span>01010101</span>
            <button>
                <img src="../../../../assets/images/deposit-info.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__cards__item">
            <p>Детали платежа</p>
            <span>Пополнения депозита ДОГ-526, AGENT-478</span>
            <button>
                <img src="../../../../assets/images/deposit-info.svg" alt="">
            </button>
        </div>
    </div>
    <h2 class="deposit__inner-title">Депозиты точек</h2>
    <div class="deposit__inner__points">
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <div class="deposit__inner__points__item-right">
                <p class="deposit__inner__points__item-center-title">Лимит</p>
                <p class="deposit__inner__points__item-center-sum">50 000 000</p>
            </div>
            <button>
                <img src="../../../../assets/images/pencil.svg" alt="">
            </button>
        </div>
        <div class="deposit__inner__points__item">
            <div class="deposit__inner__points__item-left">
                <p class="deposit__inner__points__item-left-name">Торговая точка 1</p>
                <p class="deposit__inner__points__item-left-addr">Абдулла Кадыри 1A</p>
            </div>
            <div class="deposit__inner__points__item-center">
                <p class="deposit__inner__points__item-center-title">Израсходовано</p>
                <p class="deposit__inner__points__item-center-sum">10 000 000</p>
            </div>
            <input class="deposit__inner__points__item-input" placeholder="Введите сумму депозита" />

            <div class="deposit__inner__points__item-btns">
                <button><img src="../../../../assets/images/decline.svg" alt=""></button>
                <button><img src="../../../../assets/images/accept.svg" alt=""></button>
            </div>
        </div>
    </div>
</div>