<div class="deposit">
    <div class="deposit__top">
        <button class="deposit__top-backBtn">
            <a href="/">
                <img src="../../../../assets/images/arrow-left.svg" alt="">
            </a>
        </button>
        <h2>Финансы</h2>
    </div>
    <div class="deposit__switch">
        <a href="/deposit/main">Управление</a>
        <a href="/deposit/history">История</a>
    </div>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
    <deposit-main></deposit-main>

</div>