<div class="deposit">
    <div class="deposit__top">
        <button class="deposit__top-backBtn">
            <a href="">
                <img src="../../../../assets/images/arrow-left.svg" alt="">
            </a>
        </button>
        <h2>Финансы</h2>
    </div>
    <div class="deposit__switch__container">
        <div class="deposit__switch">
            <a [routerLink]="['/deposit']" [queryParams]="{ overview: 'main'}" routerLinkActive="active">
                Управление
            </a>
            <a [routerLink]="['/deposit']" [queryParams]="{ overview: 'history'}" routerLinkActive="active">
                История
            </a>
        </div>
    </div>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
    <div class="deposit__container">
        <deposit-main *ngIf="activeTab === 'main'"></deposit-main>
        <deposit-history *ngIf="activeTab === 'history'"></deposit-history>
    </div>
</div>