<div class="profileInfo">
    <div class="profileInfo__user">
        <img src="../../../../../assets/images/avatar.svg" alt="">
        <span>Евгений Кузнецов</span>
    </div>
    <select name="store" class="profileInfo-store">
        <option value="store1">Торговая точка 1</option>
        <option value="store2">Торговая точка 2</option>
        <option value="store3">Торговая точка 3</option>
        <option value="store4">Торговая точка 4</option>
    </select>
    <div class="profileInfo__info">
        <span class="profileInfo__info-title">Депозит</span>
        <div class="profileInfo__container">
            <p class="profileInfo__info-sum">5 000 000 000 <span>сум</span></p>
            <div class="profileInfo__info-btns">
                <button>
                    <img src="../../../../../assets/images/Plus.svg" alt="">
                </button>
                <button>
                    <img src="../../../../../assets/images/HideEye.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="profileInfo__info">
        <span class="profileInfo__info-title">Вознаграждение</span>
        <div class="profileInfo__container">
            <p class="profileInfo__info-sum">300 000 <span>сум</span></p>
            <div class="profileInfo__info-btns">
                <button>
                    <img src="../../../../../assets/images/download.svg" alt="">
                </button>
                <button>
                    <img src="../../../../../assets/images/HideEye.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="profileInfo__info">
        <span class="profileInfo__info-title">BEEP</span>
        <div class="profileInfo__container">

            <p class="profileInfo__info-sum">5 000</p>
            <div class="profileInfo__info-btns">
                <button>
                    <img src="../../../../../assets/images/HideEye.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>