<div class="staff">
    <div class="staff__inner">
        <div class="staff__inner__top">
            <button class="staff__inner__top-backBtn">
                <a href="/">
                    <img src="../../../../assets/images/arrow-left.svg" alt="">
                </a>
            </button>
            <div class="staff__inner__top-title">
                Сотрудники
            </div>
            <button class="staff__inner__top-btn">
                Добавить
            </button>
        </div>
        <div class="staff__inner__cards">
            <div class="staff__inner__cards__item">
                <div class="staff__inner__cards__item__left">
                    <div class="staff__inner__cards__item__left__avtr">

                    </div>
                    <div class="staff__inner__cards__item__left__name">
                        <span>Евгений Кузнецов</span>
                        <span>Диллер</span>
                    </div>

                </div>
                <div class="staff__inner__cards__item__btns">
                    <button><img src="../../../../assets/images/trash.svg" alt=""></button>
                    <button><img src="../../../../assets/images/pencil.svg" alt=""></button>
                </div>
            </div>
            <div class="staff__inner__cards__item">
                <div class="staff__inner__cards__item__left">
                    <div class="staff__inner__cards__item__left__avtr">

                    </div>
                    <div class="staff__inner__cards__item__left__name">
                        <span>Евгений Кузнецов</span>
                        <span>Диллер</span>
                    </div>

                </div>
                <div class="staff__inner__cards__item__btns">
                    <button><img src="../../../../assets/images/trash.svg" alt=""></button>
                    <button><img src="../../../../assets/images/pencil.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</div>