<div class="mainPayment">
    <div class="mainPayment__top">
        <div class="mainPayment__top-title">
            <button class="mainPayment__top-title-backBtn">
                <a href="/">
                    <img src="../../../../assets/images/arrow-left.svg" alt="">
                </a>
            </button>
            <span>Ucell</span>
        </div>
    </div>
    <div class="mainPayment__inner">

        <div class="mainPayment__inner-logo">
            <img src="../../../../../assets/images/ucell.png" alt="">
        </div>

        <div class="mainPayment__inner__input">
            <span class="mainPayment__inner__input-title">Номер телефона</span>
            <div class="mainPayment__inner__input__form">
                <span>+998</span>
                <input type="text" value="90 809 77 86" />
                <button><img src="../../../assets/images/cross.svg" alt="" /></button>
            </div>
        </div>
        <div class="mainPayment__inner__input__btns">
            <button>
                Мой номер
            </button>
            <button>
                +998 (93) 452-11-09
            </button>
            <button>
                Бабушка
            </button>
            <button>
                +998 (93) 452-11-09
            </button>
        </div>

        <div class="mainPayment__inner__sum">
            <span>Сумма</span>
            <input type="text" value="5000">
            <div class="mainPayment__inner__sum__btns">
                <button>
                    1 000
                </button>
                <button>
                    5 000
                </button>
                <button>
                    10 000
                </button>
                <button>
                    50 000
                </button>
                <button>
                    70 000
                </button>
            </div>
        </div>

        <button type="button" class="mainPayment__inner-continue">Продолжить</button>
    </div>
</div>