.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 137px;
  padding: 16px 20px;
  background: var(--color-bg-main);
  position: fixed;
  z-index: 100;
  width: 100%;

  &__logo {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
  }

  &__nav {

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        display: flex;
        align-items: center;
        gap: 19px;
        padding: 10px 20px;
        border-radius: 8px;
        transition: 150ms;

        & span {
          font-family: 'Inter-Regular';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: var(--color-text);
        }

        & img {
          width: 24px;
          height: 24px;
        }

        &.active {
          background: var(--color-main);

        }
      }

    }

    &__onPhones {
      width: 690px;
      display: none;
      align-items: center;
      justify-content: center;

      &-burger {
        position: absolute;
        top: 19px;
        left: 16px;
      }
    }
  }
}

.mainWrapper {
  display: grid;
  grid-template-columns: 331px auto;
  column-gap: 24px;

  &-routes {
    display: none;
  }

  &__aside {
    position: fixed;
    top: 82px;
    right: 24px;
  }
}