.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 137px;
  padding: 16px 20px;

  &__logo {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
  }

  &__nav {

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        display: flex;
        align-items: center;
        gap: 19px;
        padding: 10px 20px;
        border-radius: 8px;
        transition: 150ms;

        & span {
          font-family: 'Inter-Regular';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: var(--color-text);
        }

        &:hover {
          background: var(--color-main);

        }
      }


    }
  }
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: 1fr auto 1fr;

  &-routes {
    display: none;
  }
}