<header class="header">
  <div class="header__logo">
    <img src="../../../assets/images/BeepLogo.png" alt="">
    <img src="../../../assets/images/beepLogoText.svg" alt="">
  </div>

  <nav class="header__nav">
    <ul class="header__nav__list">
      <li *ngFor="let item of headerNav">
        <a href="" class="header__nav__list-item" [routerLink]="item.path" routerLinkActive="active" >
          <img [src]="item.icon" alt="">
          <span>{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<main class="mainWrapper">
  <app-sidebar></app-sidebar>
  <router-outlet class="mainWrapper-routes"></router-outlet>
  <aside class="mainWrapper__aside">
    <profile-info></profile-info>
  </aside>
</main>
