<div class="bonuses">

    <div class="bonuses__top">
        <button class="bonuses__top-backBtn">
            <a href="/">
                <img src="../../../../assets/images/arrow-left.svg" alt="">
            </a>
        </button>
        <h2>Вознаграждения</h2>
    </div>
    <div class="bonuses__inner">
        <h2 class="bonuses__inner-title">
            История
        </h2>
        <div class="bonuses__inner__cards">
            <div class="bonuses__inner__cards-headers">
                <span class="bonuses__inner__cards-headers-sum">Сумма</span>
                <span class="bonuses__inner__cards-headers-service">Услуга</span>
                <span class="bonuses__inner__cards-headers-date">Дата и время</span>
                <img src="../../../../assets/images/package_arrow.svg" alt="">
            </div>
            <a href="">
                <div class="bonuses__inner__cards-item">
                    <span class="bonuses__inner__cards-item-sum">16 сум</span>
                    <div class="bonuses__inner__cards-item-service">
                        <img src="../../../../assets/images/BeeIcon.png" alt="">
                        <span>Beeline</span>
                    </div>
                    <div class="bonuses__inner__cards-item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></div>
                    <img class="bonuses__inner__cards-item-img" src="../../../../assets/images/package_arrow.svg"
                        alt="">
                </div>
            </a>
            <a href="">
                <div class="bonuses__inner__cards-item">
                    <span class="bonuses__inner__cards-item-sum">16 сум</span>
                    <div class="bonuses__inner__cards-item-service">
                        <img src="../../../../assets/images/BeeIcon.png" alt="">
                        <span>Beeline</span>
                    </div>
                    <div class="bonuses__inner__cards-item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></div>
                    <img class="bonuses__inner__cards-item-img" src="../../../../assets/images/package_arrow.svg"
                        alt="">
                </div>
            </a>
            <a href="">
                <div class="bonuses__inner__cards-item">
                    <span class="bonuses__inner__cards-item-sum">16 сум</span>
                    <div class="bonuses__inner__cards-item-service">
                        <img src="../../../../assets/images/BeeIcon.png" alt="">
                        <span>Beeline</span>
                    </div>
                    <div class="bonuses__inner__cards-item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></div>
                    <img class="bonuses__inner__cards-item-img" src="../../../../assets/images/package_arrow.svg"
                        alt="">
                </div>
            </a>
            <a href="">
                <div class="bonuses__inner__cards-item">
                    <span class="bonuses__inner__cards-item-sum">16 сум</span>
                    <div class="bonuses__inner__cards-item-service">
                        <img src="../../../../assets/images/BeeIcon.png" alt="">
                        <span>Beeline</span>
                    </div>
                    <div class="bonuses__inner__cards-item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></div>
                    <img class="bonuses__inner__cards-item-img" src="../../../../assets/images/package_arrow.svg"
                        alt="">
                </div>
            </a>
            <a href="">
                <div class="bonuses__inner__cards-item">
                    <span class="bonuses__inner__cards-item-sum">16 сум</span>
                    <div class="bonuses__inner__cards-item-service">
                        <img src="../../../../assets/images/BeeIcon.png" alt="">
                        <span>Beeline</span>
                    </div>
                    <div class="bonuses__inner__cards-item-date"><span>27.07.2023</span>&nbsp;<span>21:37</span></div>
                    <img class="bonuses__inner__cards-item-img" src="../../../../assets/images/package_arrow.svg"
                        alt="">
                </div>
            </a>
            
        </div>
    </div>
</div>