/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    padding-right: 24px;
    background: var(--color-bg-main);
}

aside, input {
    background: var(--color-bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--color-text)
}




@import "src/assets/styles/main";
