@media screen and (max-width: 1300px) {
    .mainWrapper {
        grid-template-columns: auto !important;

        &-sidebar {
            transform: translateX(-100%);
            transition: 150ms;
            z-index: 100;

            &.active {
                transform: translateX(0);
            }
        }
    }

    .header {
        background: var(--color-bg-accent) !important;

        &__logo {
            display: none !important;
        }

        &__nav {

            &__list {

                @media screen and (max-width: 1300px) {
                    display: none !important;
                }
            }

            &__onPhones {
                display: flex !important;
            }

        }
    }

    .main {
        margin-top: 66px !important;

        &__container {
            padding: 0 !important;
        }

        &__pay {
            display: none !important;
        }

        &__inner {
            width: 100%;
        }

        &__latestPay {
            order: -1;
            margin-bottom: -24px;
        }

        &__search {

            &__input {
                display: none !important;
            }
        }
    }

    .deposit,
    .bonuses,
    .points,
    .staff {
        margin-top: 66px !important;

        &__top {
            display: none !important;
        }
    }

    body {
        padding-right: 0;
    }

    .sidebar {
        padding-right: 20px !important;
        top: 0 !important;
        width: auto !important;
        height: 100vh;
    }
}