:root {
    --color-main: #FFD600;
    --color-text: #333333;
    --color-text-accent: #929292;
    --color-bg-accent: #F2F4F6;
    --color-bg-extra: #E0E4E8;
    --color-bg-main: #FFFFFF;
    --color-placeholders: #C4C4C4;
    --color-border-main: #E7EAED;
    --color-bg-avtr: #D9D9D9;
    --color-main-hover: #FFEA7F;
    --color-bg-btn: #E5E9ED;
    --color-btn-disabled: #B4B9BD;
    --color-after: #E0E4E8;
}

.dark {
    --color-bg-accent: #3F3F3F;
    --color-text: #FFF;
    --color-bg-main: #333333;
    --color-border-main: #D9D9D9D9;
    --color-bg-extra: #D9D9D9D9;
    --color-after: #605F68;
}