<main class="main">

  <!-- <app-sidebar /> -->

  <div class="main__inner">

    <div class="main__pay">
      <button class="main__pay-backBtn">
        <a href="/">
          <img src="../../../../assets/images/arrow-left.svg" alt="">
        </a>
      </button>
      <h3>Оплата</h3>
    </div>
    <div class="main__container">
      <div class="main__search">
        <div class="main__search__input">
          <button><img src="../../../assets/images/search.svg" alt="" /></button>
          <input type="text" placeholder="Поиск услуг" />
        </div>
      </div>
      <div class="main__phonePay">
        <span>Оплата сотового</span>
        <div class="main__phonePay__number">
          <div class="main__phonePay__number__input">
            <div class="main__phonePay__number__input__phone">
              <span>+998</span>
              <input type="text" value="90 809 77 86" />
            </div>
            <button><img src="../../../assets/images/cross.svg" alt="" /></button>
          </div>
          <div class="main__phonePay__number__bottom">
            <button class="main__phonePay__number__bottom-checkbox">
              <div class="main__phonePay__number__bottom-checkbox-circle"></div>
              <span>Мой номер</span>
            </button>
            <button class="main__phonePay__number__bottom-btn">Оплатить</button>
          </div>
        </div>
      </div>
      <div class="main__latestPay">
        <h2 class="main__latestPay-title">Последние оплаченные</h2>
        <div class="main__latestPay__cards">
          <div class="main__latestPay__cards-card">
            <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
          </div>
          <div class="main__latestPay__cards-card">
            <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
          </div>
          <div class="main__latestPay__cards-card">
            <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
          </div>
          
        </div>
      </div>
      <div class="main__plans">
        <a href="#">
          <div class="main__plans-left">
            <img src="../../../assets/images/beeline.svg" alt="" />
            <span>Пакеты билайн</span>
          </div>
          <img src="../../../assets/images/package_arrow.svg" alt="" />
        </a>
      </div>
      <div class="main__category">
        <h2 class="main__category-title">Выберите категорию</h2>
        <div class="main__category__inner">
          <div class="main__category__inner__left">
            <a href="#" class="main__category__inner__left-card" *ngFor="let item of categories">
              <div class="main__category__inner__left-card-left" >
                <img [src]="item.icon" alt="" />
                <span>{{ item.title }}</span>
              </div>
              <img src="../../../assets/images/package_arrow.svg" alt="" />
            </a>
          </div>
          <div class="main__category__inner__right">
            <div class="main__category__inner__right-card">
              <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
            </div>
            <div class="main__category__inner__right-card">
              <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
            </div>
            <div class="main__category__inner__right-card">
              <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
            </div>
            <div class="main__category__inner__right-card">
              <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
            </div>
            <div class="main__category__inner__right-card">
              <a href="#">
              <img src="../../../assets/images/ucell.png" alt="" />
              <span>Ucell</span>
            </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>